html, body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 70px 607px;
  grid-template-areas:  "h1 h1 im" 
                        "a  a 1mg"
                        "p v v"  
                        ;
}
div {
  display: inline;
}
h1 {
 color: rgb(0, 0, 0);
 border-style: groove;
 border-radius: 20px;
 border-color: rgb(0, 0, 0);
 width: 60rem;
 margin-left: 20px;
 margin-top: 20px;
 text-align: center;
 font-size: 400%;
 grid-template: 10%;
 grid-area: h1;
}
body { 
  background-image: url(../imagems/casa.jpg);
  background-repeat: no-repeat ;
  background-size: auto;
  
}
nav {
  grid-area: a;
}
ul {
  grid-area: a;
}
li {
  width: 40rem;
  grid-area: a;
  display: flex;
  justify-content: space-between;
}
a {
  border-radius: 10px;
  color: black;
  text-decoration-style: solid;
  font-size: 25px;
  grid-area: a;
  font-family: fantasy;
  }
  a:hover{
    color: rgb(196, 0, 0);
  }
h4{ 
margin-bottom: 20em;
display: flex;

}
img {
grid-area: im;
margin-left: 440px;
} 
main {
  margin-left: 20px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  grid-area:p ;
}
img:hover {
  width: 100px;
  height: 100px;
  transform: matrix(180deg);
}

 

 





h2 {
  color: rgb(0, 0, 0);
  width: 12rem;
  text-align: center;
}

  

