html, body{
margin:0;
padding: 0;
box-sizing: border-box;
  }
.container {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 100px 1fr 1fr;
grid-template-areas:"a h2 h2"
                    " img p p"
                    " img ts ts"
                        ;
}
body{
background-image: url(../imagems/inf.jpg);
background-repeat: no-repeat ;
background-size: auto;
}
a{
display: flex;
font-size: 20px;
color: black;  
grid-area: a;
}
a:hover{
  color: rgb(196, 0, 0);
}
h2{
font-size: 30px;
display: flex;
grid-area: h2; 
margin-left: 200px;
}  
img:hover {
  
  grid-area: img;
  width: 120px;
  height: 120px;
  transform: matrix(0deg);
  
}
nav {
 
  font-size: 20px;
}
